* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --shadowgrey: rgb(235, 235, 235);
    --green: rgb(147, 220, 0);
    --border-radius: 10px;
    /* --toggle-switch-size-multiplier: 1; */
}

body {
    padding: 2rem;
}

.switch-widget {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

.switch-widget > input[type="checkbox"] {
    grid-column: 2 3;
}

.switch-widget > label {
    grid-column: 1 2;
    display: grid;
    align-items: center;
}

.switch-widget input[type="checkbox"] {
    appearance: none;
    width: 37px;
    height: 12px;
    border-radius: 15px;
    background-color: lightgrey;
    position: relative;
    transition: background-color 400ms ease;
}

.switch-widget input[type="checkbox"]:checked {
    background-color: var(--green, rgb(147, 220, 0));
    transition: background-color 400ms ease;
}

/* slider pseudo element */
.switch-widget input[type="checkbox"]:checked::before {
    left: 19px;
    transition: left 200ms;
}

.switch-widget input[type="checkbox"]::before {
    width: 16px;
    height: 16px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    background-color: white;
    content: '';
    position: absolute;
    top: -3px;
    left: 0px;
    transition: left 200ms;
}

.switch-widget input[type="checkbox"] ~ label .off,
.switch-widget input[type="checkbox"]:checked ~ label .on {
    opacity: 1;
    transition: opacity 100ms;
}

.switch-widget input[type="checkbox"] ~ label .on,
.switch-widget input[type="checkbox"]:checked ~ label .off {
    opacity: 0;
    transition: opacity 100ms;
}

.switch-widget label span {
    position: absolute;
}

