* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    position: relative;
    top: 10vh;
}

main button {
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    border: 1px solid grey;
}

main button:hover {
    border: 2px solid orange;
    background-color: aquamarine;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 2rem 3rem;
    justify-content: center;
    gap: 2rem;
    background-color: white;
}



.modal-widget {
    position: fixed;
    top: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.modal-widget .modal-dialog {    
    position: fixed;
    bottom: 105%;

    will-change: bottom;
    transition: bottom .1s ease-out;
}

.modal-widget .modal-dialog.active {    
    bottom: 60vh;

    will-change: bottom;
    transition: bottom .15s ease-in;
}


.modal-widget .overlay {
    backdrop-filter: blur(3px) opacity(0);
    height: 0;
    width: 100vw;

    will-change: backdrop-filter;
    transition: backdrop-filter .2s ease;
}

.modal-widget .overlay.active {
    backdrop-filter: blur(3px) opacity(1);
    height: 100vh;

    will-change: backdrop-filter;
    transform: backdrop-filter .25s ease;
}

.modal-dialog #close-modal-button {
    padding: 2rem;
    cursor: pointer;
}
